<aside th:fragment="patientSidebar" class="left-sidebar" data-sidebarbg="skin6">
	<!-- Sidebar scroll-->
	<div class="scroll-sidebar" data-sidebarbg="skin6">
		<!-- Sidebar navigation-->
		<nav class="sidebar-nav">
			<ul id="sidebarnav">
				<li class="sidebar-item"><a class="sidebar-link sidebar-link"
					aria-expanded="false" href="/doctor/home"><i
						data-feather="home" class="feather-icon"></i><span
						class="hide-menu">Dashboard</span></a></li>
				<li class="list-divider"></li>
				<li class="sidebar-item"><a class="sidebar-link sidebar-link"
					th:if="${userRole == 'ROLE_PATIENT'}" aria-expanded="false"
					href="/patient/viewPatientESA"><i
						data-feather="home" class="feather-icon"></i><span
						class="hide-menu">View ESA</span></a></li>
				<!--  --> 

			</ul>

		</nav>
		<!-- End Sidebar navigation -->
	</div>
	<!-- End Sidebar scroll-->
</aside>