
<div class="page-breadcrumb " id="patientDetails">
	<div class="row">
		<div class="col-7 align-self-center">
			<h4
				class="page-title text-truncate text-dark font-weight-medium mb-1">Patient
				Details</h4>
			<div class="d-flex align-items-center">
				<nav aria-label="breadcrumb">
					<ol class="breadcrumb m-0 p-0">
						<li class="breadcrumb-item"><a href="index.html"
							class="text-muted">doctor</a></li>
						<li class="breadcrumb-item text-muted active" aria-current="page">Patient
							Details</li>
					</ol>
				</nav>
			</div>
		</div>

	</div>
</div>
<div class="container-fluid">
	<!-- ============================================================== -->
	<!-- Start Page Content -->
	<!-- ============================================================== -->
	<!-- basic table -->
	<div class="row">
		<div class="col-12">
			<div class="card">
				<div class="card-body">
					<h4 class="card-title">Multi-column ordering</h4>
					<h6 class="card-subtitle">
						On a per-column basis (i.e. order by a specific column and then a
						secondary column if the data in the first column is identical),
						through the
						<code> columns.orderData</code>
						option.
					</h6>
					<div class="table-responsive">
						<table id="multi_col_order"
							class="table border table-striped table-bordered text-nowrap dataTable no-footer"
							style="width: 100%;" role="grid"
							aria-describedby="multi_col_order_info">
							<thead>
								<tr>
									<th>pdcurrentdiagnosis</th>
									<th>pdtreatmentreceived</th>
									<th>invistigationdate</th>
									<th>pdstageOfcancer</th>
									<th>pvid</th>

								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>