<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!-- Tell the browser to be responsive to screen width -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<!-- Favicon icon -->
<link rel="icon" type="image/png" sizes="16x16"
	href="../assets/images/aiimsLogo.png">
<title>Home</title>
<!-- Custom CSS -->
<link href="../assets/extra-libs/c3/c3.min.css" rel="stylesheet">
<link href="../assets/libs/chartist/dist/chartist.min.css"
	rel="stylesheet">
<link href="../assets/extra-libs/jvector/jquery-jvectormap-2.0.2.css"
	rel="stylesheet" />
<link rel="stylesheet"
	href="../assets/extra-libs/datatables.net-bs4/css/dataTables.bootstrap4.css">
<link rel="stylesheet"
	href="../assets/extra-libs/datatables.net-bs4/css/responsive.dataTables.min.css">
<!-- Custom CSS -->
<link href="../dist/css/style.min.css" rel="stylesheet">
<link th:href="@{/assets/libs/select2/css/select2.css}" rel="stylesheet">

<!-- ============================================================== -->
<script src="../assets/libs/jquery/dist/jquery.min.js"></script>
<script src="../assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<!-- apps -->
<!-- apps -->
<script src="../dist/js/app-style-switcher.js"></script>
<script src="../dist/js/feather.min.js"></script>
<script
	src="../assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js"></script>
<script src="../dist/js/sidebarmenu.js"></script>
<!--Custom JavaScript -->
<script src="../dist/js/custom.min.js"></script>
<!--This page JavaScript -->
<script src="../assets/extra-libs/c3/d3.min.js"></script>
<script src="../assets/extra-libs/c3/c3.min.js"></script>
<script src="../assets/libs/chartist/dist/chartist.min.js"></script>
<script
	src="../assets/libs/chartist-plugin-tooltips/dist/chartist-plugin-tooltip.min.js"></script>
<script
	src="../assets/extra-libs/jvector/jquery-jvectormap-2.0.2.min.js"></script>
<script
	src="../assets/extra-libs/jvector/jquery-jvectormap-world-mill-en.js"></script>
<script src="../dist/js/pages/dashboards/dashboard1.min.js"></script>
<!-- for data tables -->
<script
	src="../assets/extra-libs/datatables.net/js/jquery.dataTables.min.js"></script>
<script
	src="../assets/extra-libs/datatables.net-bs4/js/dataTables.responsive.min.js"></script>
<script src="../dist/js/pages/datatable/datatable-basic.init.js"></script>
<script type="text/javascript" th:src="@{/assets/libs/select2/js/select2.js}"></script>
<script type="text/javascript" th:src="@{/js/custom/pharmacist.js}"></script>


<style type="text/css">
.jqstooltip {
	position: absolute;
	left: 0px;
	top: 0px;
	visibility: hidden;
	background: rgb(0, 0, 0) transparent;
	background-color: rgba(0, 0, 0, 0.6);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000,
		endColorstr=#99000000);
	-ms-filter:
		"progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
	color: white;
	font: 10px arial, san serif;
	text-align: left;
	white-space: nowrap;
	padding: 5px;
	border: 1px solid white;
	z-index: 10000;
}

.jqsfield {
	color: white;
	font: 10px arial, san serif;
	text-align: left;
}

@media print {
	body * {
		visibility: hidden;
	}
	#prescriptionPrintDiv * {
		visibility: visible;
	}
	#painAssessmentPrintDiv * {
		visibility: visible;
	}
}
</style>
</head>
<body>
	<!-- Main wrapper - style you can find in pages.scss -->
	<!-- ============================================================== -->
	<div id="main-wrapper" data-theme="light" data-layout="vertical"
		data-navbarbg="skin6" data-sidebartype="full"
		data-sidebar-position="fixed" data-header-position="fixed"
		data-boxed-layout="full">

		<div th:replace="fragments/header::header"></div>

		<div th:replace="fragments/doctorSidebar::doctorSidebar"></div>

		<div class="page-wrapper ">


			<!--add patient details form -->
			<div class="page-breadcrumb patientDetailsDiv" style="display: none;">
				<div class="row">
					<div class="col-7 align-self-center">
						<h3
							class="page-title text-truncate text-dark font-weight-medium mb-1">Add
							New Pharmacist</h3>
					</div>
				</div>
			</div>

			<!--add pharmasist  -->
			<div class="container-fluid">
				<div class="row">
					<div class="col-12">
						<div class="card">
						<div class="card-header">Add New Pharmacist</div>
							<div class="card-body">
								<!-- <h4 class="card-title">Add New Pharmacist</h4>
								<hr> -->
								<form class="">
									<div class="row">
										<div class="col-md-6" id="emailDiv">
											<div class="form-group mb-3">
												<label class="form-label text-dark" for="email">Email</label>
												<input class="form-control" id="email" type="text"
													placeholder="Enter your Email">
											</div>
										</div>
										<div class="col-md-6" id="unameDiv">
											<div class="form-group mb-3">
												<label class="form-label text-dark" for="uname">Username</label>
												<input class="form-control" id="username" type="text"
													placeholder="Enter your Username">
											</div>
										</div>
										<div class="col-md-6" id="passwordDiv">
											<div class="form-group mb-3">
												<label class="form-label text-dark" for="password">Password</label>
												<input class="form-control" id="password" type="password"
													placeholder="Enter your Password">
											</div>
										</div>
										<div class="col-md-6" id="passwordDiv">
											<div class="form-group mb-3">
												<label class="form-label text-dark" for="mobile">Mobile
													Number</label>
												<div class="row">
													<div class="col-3 col-lg-3 col-xl-3 col-xxl-2">
														<input class="form-control" id="mobilePrefix" type="text"
															value="+91" disabled="disabled">
													</div>
													<div class="col-9 col-lg-9 col-xl-9 col-xxl-10">
														<input class="form-control" id="mobile" type="text"
															maxlength="10" placeholder="Enter your Mobile">
													</div>
												</div>
											</div>
										</div>
										<div class="col-md-6" id="passwordDiv">
											<div class="form-group mb-3">
												<label class="form-label text-dark" for="mobile">Center
													Code</label>
												<div class="row">
													<div class="col-md-12">
														<select class="dropdown-with-search form-select mr-sm-2" id='centerDetailsId'>
															<option th:each="c : ${centerDetails}"
																th:value="${c.centerId}" th:text="${c.centerName}"></option>
														</select>
													</div>

												</div>
											</div>
										</div>
										<div class="col-md-6" id="passwordDiv">
											<div class="form-group mb-3">
												<label class="form-label text-dark" for="userUniqueId">License
													/ Registration Number </label> <input class="form-control"
													id="userUniqueId" type="text"
													placeholder="Enter license / registration number">
											</div>
										</div>
										<div class="col-md-6" id="passwordDiv">
											<div class="form-group mb-3">
												<label class="form-label text-dark" for="uname">Designation</label>
												<input class="form-control" id="userDescription" type="text"
													placeholder="Enter user description">
											</div>
										</div>

									</div>
								</form>
							</div>
						</div>
					</div>
					<div class="col-12">
						<div class="card">
							<div class="card-body">
								<form action="#">
									<div class="form-body">
										<div class="form-actions">
											<div class="d-flex justify-content-between">
												<button type="reset" class="btn btn-dark btn-width-20">Reset</button>
												<button type="button" th:onclick='addPharmasist()'
													class="btn btn-primary btn-width-20">Submit</button>
											</div>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- end -->
			<footer class="footer text-center text-muted"> All Rights
				Reserved by AIIMS. </footer>
		</div>
	</div>
</body>
</html>