<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!-- Tell the browser to be responsive to screen width -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<title>Login</title>
<!-- Custom CSS -->
<link rel="icon" type="image/png" sizes="16x16"
	th:href="@{/assets/images/aiimsLogo.png}">
<link th:href="@{/dist/css/style.min.css}" rel="stylesheet" />
<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body>
	<div class="main-wrapper">
		<!-- ============================================================== -->
		<!-- Preloader - style you can find in spinners.css -->
		<!-- ============================================================== -->

		<!-- ============================================================== -->
		<!-- Preloader - style you can find in spinners.css -->
		<!-- ============================================================== -->
		<!-- ============================================================== -->
		<!-- Login box.scss -->
		<!-- ============================================================== -->
		<div
			class="auth-wrapper d-flex no-block p-4 align-items-center position-relative"
			style="background: url(../assets/images/big/Home2.png); background-size: cover; background-position: center;">
			<div class="auth-box my-0 ms-lg-5 row">
				<!-- <div class="col-lg-7 col-md-5 modal-bg-img"
					style="background-image: url(../assets/images/big/3.jpg);"></div> -->
				<div class="col-lg-12 mx-auto bg-white border-white bg-opacity-75"
					style="border-radius: 10px">
					<div class="p-3">
						<div class="text-center">
							<i class="icon-user-follow"
						 		style="color: #ff5b6d; font-size: 60px"></i>
						</div>
						<h2 class="mt-3 text-center">Sign Up</h2>
						<!-- <p class="text-center">Enter your email address and password
							to access admin panel.</p> -->
						<form class="mt-4">
							<div class="row">
								<!-- <div class="col-lg-12 text-center mb-3 otpPassBtn">
									<div class="row" >
										<div class="col-lg-6">
											<button type="button" id="btnOtp"
												class="btn btn-block waves-effect waves-light btn-primary">Via
												OTP</button>
										</div>
										<div class="col-lg-6">
											<button type="button" id="btnPassword"
												class="btn btn-block waves-effect waves-light btn-primary">Via
												Password</button>
										</div>
									</div>
								</div> -->
								<div class="col-lg-12" id="emailDiv">
									<div class="form-group mb-3">
										<label class="form-label text-dark" for="email">Email</label>
										<input class="form-control" id="email" type="text"
											placeholder="Enter your Email">
									</div>
								</div>
								<div class="col-lg-12" id="unameDiv">
									<div class="form-group mb-3">
										<label class="form-label text-dark" for="uname">Name</label> <input
											class="form-control" id="username" type="text"
											placeholder="Enter your Username">
									</div>
								</div>
								<div class="col-lg-12" id="passwordDiv">
									<div class="form-group mb-3">
										<label class="form-label text-dark" for="password">Password</label>
										<input class="form-control" id="password" type="password"
											placeholder="Enter your Password">
									</div>
								</div>
								<div class="col-lg-12" id="passwordDiv">
									<div class="form-group mb-3">
										<label class="form-label text-dark" for="mobile">Mobile
											Number</label>
										<div class="row">
											<div class="col-2">
												<input class="form-control" id="mobilePrefix" type="text"
													value="+91" disabled="disabled">
											</div>
											<div class="col-10">
												<input class="form-control" id="mobile" type="text"
													maxlength="10" placeholder="Enter your Mobile">
											</div>
										</div>
									</div>
								</div>
								<div class="col-lg-12" id="passwordDiv">
									<div class="form-group mb-3">
										<label class="form-label text-dark" for="mobile">Center
											Code</label>
										<div class="row">
											<div class="col-12">
												<select id='centerDetailsId' class="form-select mr-sm-2">
													<option disabled>Choose Center Code</option>
													<option th:each="c : ${centerDetails}"
														th:value="${c.centerId}" th:text="${c.centerName}"></option>
												</select>
											</div>

										</div>
									</div>
								</div>
								<!-- <div class="col-lg-12" id="passwordDiv">
									<div class="form-group mb-3">
										<label class="form-label text-dark" for="address">Address</label>
										<input class="form-control" id="address" type="text"
											placeholder="Enter your address">
									</div>
								</div> -->
								<div class="col-lg-12" id="passwordDiv">
									<div class="form-group mb-3">
										<label class="form-label text-dark" for="userUniqueId">License
											/ Registration Number </label> <input class="form-control"
											id="userUniqueId" type="text"
											placeholder="Enter license / registration number">
									</div>
								</div>
								<div class="col-lg-12" id="passwordDiv">
									<div class="form-group mb-3">
										<label class="form-label text-dark" for="uname">Designation</label>
										<input class="form-control" id="userDescription" type="text"
											placeholder="Enter user description">
									</div>
								</div>
								<!-- <div class="col-lg-12 text-center">
									<button type="submit" id="getOtpBtn" class="btn w-100 btn-dark">Get OTP</button>
								</div> -->
								<!-- <div class="col-lg-12 mb-3" id="otpDiv">
									<div class="row">
										<label class="form-label text-dark" for="uname">OTP</label>
										<div class="col-lg-3">
											<input type="text" class="form-control" maxlength="1"
												id="otp" aria-describedby="otp">
										</div>
										<div class="col-lg-3">
											<input type="text" class="form-control" maxlength="1"
												id="otp" aria-describedby="otp">
										</div>
										<div class="col-lg-3">
											<input type="text" class="form-control" maxlength="1"
												id="otp" aria-describedby="otp">
										</div>
										<div class="col-lg-3">
											<input type="text" class="form-control" maxlength="1"
												id="otp" aria-describedby="otp">
										</div>
									</div>
								</div> -->
								<div class="col-lg-12 text-center">
									<button type="button" id="submitBtn" class="btn w-100 btn-dark">Submit</button>
								</div>
								<!-- <div class="col-lg-12 text-center mt-5">
									Don't have an account? <a href="#" class="text-danger">Sign
										Up</a>
								</div> -->
								<div class="col-lg-12 text-center mt-5">
									Already have an account? <a href="login" class="text-danger">Sign
										In</a>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<!-- ============================================================== -->
		<!-- Login box.scss -->
		<!-- ============================================================== -->
	</div>
	<!-- ============================================================== -->
	<!-- All Required js -->
	<!-- ============================================================== -->
	<script th:src="@{/assets/libs/jquery/dist/jquery.min.js}"></script>
	<!-- Bootstrap tether Core JavaScript -->
	<script th:src="@{/assets/libs/popper.js/dist/umd/popper.min.js}"></script>
	<script th:src="@{/assets/libs/bootstrap/dist/js/bootstrap.min.js}"></script>
	<!-- ============================================================== -->
	<!-- This page plugin js -->
	<!-- ============================================================== -->
	<script>
		$(".preloader ").fadeOut();
	</script>
</body>
<script type="text/javascript" th:src="@{/js/register.js}"></script>
</html>